# ==========================
# Dependencies
# ==========================
node_modules/

# PNPM
.pnpm-store/

# Build Output
dist/
.output/
build/

# Turbo
.turbo/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Environment Variables
.env
.env.local
.env.*

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# TypeScript
*.tsbuildinfo